{
	"name": "Modus Vivendi Tinted",
	"colors": {
		"titleBar.activeBackground": "{{bg-dim}}",
		"panel.background": "{{bg-main}}",
		"editor.background": "{{bg-main}}",
		"editor.foreground": "{{fg-main}}",
		"editor.lineHighlightBackground": "{{bg-hl-line}}",
		"editorLineNumber.foreground": "{{fg-dim}}",
		"editorLineNumber.activeForeground": "{{fg-main}}",
		"editorGroupHeader.tabsBackground": "{{bg-dim}}",
		"editorCursor.foreground": "{{magenta-intense}}",
		"editor.selectionBackground": "{{bg-cyan-subtle}}",
		"editor.findMatchBackground": "{{bg-yellow-intense}}",
		"editor.findMatchHighlightBackground": "{{bg-cyan-intense}}",
		"editor.wordHighlightBackground": "{{bg-inactive}}",
		"editor.wordHighlightBorder": "{{border}}",
		"editorGutter.background": "{{bg-dim}}",
		"editorGutter.addedBackground": "{{bg-added-fringe}}",
		"editorGutter.deletedBackground": "{{bg-removed-fringe}}",
		"editorGutter.modifiedBackground": "{{bg-changed-fringe}}",
		"sideBar.background": "{{bg-dim}}",
		"sideBar.foreground": "{{fg-main}}",
		"sideBar.border": "{{border}}",
		"sideBarSectionHeader.background": "{{bg-tab-other}}",
		"list.inactiveSelectionBackground": "{{bg-hl-line}}",
		"list.activeSelectionBackground": "{{bg-hl-line}}",
		"list.hoverBackground": "{{bg-tab-other}}",
		"list.focusAndSelectionOutline": "{{border}}",
		"terminal.background": "{{bg-main}}",
		"tab.activeBackground": "{{bg-main}}",
		"tab.activeBorder": "{{bg-main}}",
		"tab.inactiveBackground": "{{bg-tab-other}}",
		"terminal.ansiBlack": "#000000",
		"terminal.ansiBlue": "{{blue}}",
		"terminal.ansiBrightBlack": "#595959",
		"terminal.ansiBrightBlue": "{{blue-warmer}}",
		"terminal.ansiBrightCyan": "{{cyan-cooler}}",
		"terminal.ansiBrightGreen": "{{green-cooler}}",
		"terminal.ansiBrightMagenta": "{{magenta-cooler}}",
		"terminal.ansiBrightRed": "{{red-warmer}}",
		"terminal.ansiBrightWhite": "{{fg-main}}",
		"terminal.ansiBrightYellow": "{{yellow-warmer}}",
		"terminal.ansiCyan": "{{cyan}}",
		"terminal.ansiGreen": "{{green}}",
		"terminal.ansiMagenta": "{{magenta}}",
		"terminal.ansiRed": "{{red}}",
		"terminal.ansiWhite": "#a6a6a6",
		"terminal.ansiYellow": "{{yellow}}",
		"terminal.foreground": "{{fg-main}}",
		"terminal.selectionForeground": "{{bg-cyan-subtle}}",
		"button.background": "{{bg-hl-line}}",
		"button.foreground": "{{fg-main}}",
		"activityBar.background": "{{bg-main}}",
		"activityBar.activeBackground": "{{bg-dim}}",
		"activityBar.foreground": "{{fg-main}}",
		"activityBar.activeBorder": "{{bg-hl-line}}",
		"statusBar.background": "#484d67",
		"statusBar.debuggingBackground": "{{bg-hl-line}}",
		"statusBar.debuggingForeground": "{{fg-main}}",
		"statusBar.foreground": "{{fg-main}}",
		"statusBar.border": "{{border-mode-line-active}}",
		"menu.background": "{{bg-dim}}",
		"menu.foreground": "{{fg-main}}",
		"menu.selectionBackground": "{{bg-hl-line}}",
		"commandCenter.activeBackground": "{{bg-dim}}",
		"commandCenter.foreground": "{{fg-main}}",
		"commandCenter.background": "{{bg-dim}}",
		"gitlens.trailingLineForegroundColor": "{{blue-warmer}}",
		"statusBarItem.remoteBackground": "{{blue}}",
		"statusBarItem.remoteForeground": "{{bg-main}}",
		"input.background": "{{bg-inactive}}"
	},
	"tokenColors": [
		// red
		{
			"name": "Invalid - Illegal",
			"scope": [
				"invalid.illegal",
				"entity.name.exception"
			],
			"settings": {
				"foreground": "{{red}}"
			}
		},
		// red-faint
		{
			"name": "Comments",
			"scope": [
				"comment",
				"punctuation.definition.comment",
				"comment.block.preprocessor"
			],
			"settings": {
				"fontStyle": "italic",
				"foreground": "{{red-faint}}"
			}
		},
		// green
		{
			"name": "Comments: Documentation",
			"scope": [
				"comment.documentation",
				"comment.block.documentation"
			],
			"settings": {
				"foreground": "{{green}}"
			}
		},
		// yellow
		{
			"name": "Strings: Symbols",
			"scope": [
				"constant.other.symbol",
				
			],
			"settings": {
				"foreground": "{{yellow}}"
			}
		},
		// yellow-warmer
		{
			"name": "Numbers, Characters",
			"scope": [
				"constant.numeric",
				"constant.character",
				"constant"
			],
			"settings": {
				"foreground": "{{yellow-warmer}}"
			}
		},
		// blue
		{
			"name": "String: Doublequotes",
			"scope": [
				"string.regexp",
				"entity.name.section",
			],
			"settings": {
				"foreground": "{{blue}}",
			}
		},
		// blue-warmer
		{
			"name": "Strings: Escape Sequences",
			"scope": [
				"constant.character.escape",
				"punctuation.definition.string.begin",
				"punctuation.definition.string.end",
				"string.quoted"
			],
			"settings": {
				"foreground": "{{blue-warmer}}"
			}
		},
		// blue-cooler
		{
			"name": "Language Constants",
			"scope": [
				"constant.language",
				"support.constant",
				"variable.language",
			],
			"settings": {
				"foreground": "{{blue-cooler}}"
			}
		},
		// magenta
		{
			"name": "Functions",
			"scope": [
				"entity.name.function",
				"support.function"
			],
			"settings": {
				"fontStyle": "bold",
				"foreground": "{{magenta}}"
			}
		},
		// magenta-warmer
		{
			"name": "Classes",
			"scope": [
				"entity.name.type",
				"entity.other.inherited-class",
				"support.class"
			],
			"settings": {
				"fontStyle": "bold",
				"foreground": "{{magenta-warmer}}"
			}
		},
		// magenta-cooler
		{
			"name": "Operators",
			"scope": [
				"keyword.operator",
				"keyword",
				"storage"
			],
			"settings": {
				"foreground": "{{magenta-cooler}}"
			}
		},
		// cyan
		{
			"name": "Variables",
			"scope": [
				"variable",
				"support.variable",
				"entity.name.tag"
			],
			"settings": {
				"foreground": "{{cyan}}"
			}
		},
		// cyan-cooler
		{
			"name": "Types",
			"scope": [
				"storage.type",
				"support.type"
			],
			"settings": {
				"foreground": "{{cyan-cooler}}"
			}
		},
		// fg-main
		{
			"name": "Strings",
			"scope": [
				"string",
				"punctuation",
			],
			"settings": {
				"foreground": "{{fg-main}}"
			}
		},
	]
}